Assuming all form fields are valid, this is the screen that appears after clicking "Ask Mother Nature" button at the bottom of the
form. In the top-left corner, resides a back button to make any edits to your form fields. Its content displays the next 7 days'
weather (hypothetically - all data is randomized). The form's street value will determine the generated forecast and background color.
You can find a breakdown of how each season affects the forecast's temperatures, weather effect, & background color in the
"Temp-Weather" section below.
