@import "src/styles.scss";

@media (min-width: $s-mobile) {
    #container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: $large;
        margin-top: $large;

        .day {
            text-align: center;
            border: $x-small double $grey;
            width: 100%;

            h3 {
                background-image: linear-gradient($orange, $yellow);
                font-size: $s-font;
                margin: 0;
                padding: $small;
            }
        }
    }
}
