<button id="back" title="Back to stock page" (click)="event.emit()">&lt;</button>
<div id="flexbox">
    <img id="pooh-bear" src="../../../../../assets/images/pooh-bear.png" alt="Pooh Bear - Think x3"/>
    <h1>Decisions, Decisions...</h1>
</div>

<form [formGroup]="form">
    <label for="sort">Sort</label>
    <select #sort formControlName="sort" (change)="sortStock(sort.value)">
        <option *ngFor="let option of sortOptions">{{ option }}</option>
    </select>
</form>

<div id="inventory">
    <div *ngFor="let item of items" class="item" id="{{ item.id }}">
        <h2>{{ item.name }}</h2>
        <h3 *ngIf="chosenProduct === 'instrument'">Family: {{ item.subInfo }}</h3>
        <h3 *ngIf="chosenProduct === 'vinyl'">By: {{ item.subInfo }} <br> ~ {{ item.year }}</h3>
        <img src="{{ item.image }}" alt="Instrument"/>
        <div>Price: {{ item.currency }}</div>
        <div>Stock: {{ item.stock }}</div>
        <button *ngIf="!item.added" title="Add to cart" (click)="updateCart('add', item)">+</button>
        <button *ngIf="item.added" title="Remove from cart" (click)="updateCart('remove', item)">-</button>
    </div>
</div>
