@import "src/styles.scss";

#title {
    &::before {
        content: '';
        width: 280px;
        height: 160px;
        border-radius:  50% 50% 0 0/100% 100% 0 0;
        background: radial-gradient($yellow, $orange, $red);
        position: absolute;
        top: 50px;
        left: 50%;
        margin-left: -140px;
        z-index: -1;
    }

    h1 {
        text-align: center;
        font-size: $l-font;
        margin: 50px auto 0;
    }

    #date {
        text-align: center;
        font-size: $s-font
    }
}

.container {
    position: relative;
    border: 10px groove black;
    padding: 20px;

    &:not(dialog) {
        margin: 10px auto 0;
    }

    h2 {
        text-align: center;
        font-size: $m-font;
        margin: 10px auto 0;
    }

    button {
        position: absolute;
        background-color: transparent;
        border: none;
        font-size: $s-font;
        top: 5px;
        left: 0;

        &:hover {
            cursor: pointer;
            text-decoration: underline;
            font-weight: bold;
        }
    }
}

#form {
    background-image: linear-gradient($red, $yellow, $blue);
    max-width: 356px;

    button {
        &::before {
            content: '?';
            padding: 0 7px;
            border: 1.5px solid black;
            border-radius: 50%;
        }

        &:hover {
            text-decoration: none;
        }
    }

    p {
        text-align: center;
        font-size: $s-font;
    }
}

dialog {
    margin: 20px;
}

.winter {
    background-image: repeating-conic-gradient(#80a0d6 5%, #a1e7ff 10%, #c2f6ff 15%);
}

.fall {
    background-image: repeating-conic-gradient(#871c0e 5%, #ec6816 10%, #faa943 15%);
}

.spring {
    background-image: repeating-conic-gradient(#75b39d 5%, #d4f2e8 10%, #ffd5eb 15%);
}

.summer {
    background-image: repeating-conic-gradient(#e86375 5%, #ffa199 10%, #ffd099 15%);
}

@media (min-width: $m-mobile) {
    #title::before {
        width: 320px;
        margin-left: -160px;
    }
}

@media (min-width: $l-mobile) {
    #title::before {
        width: 415px;
        height: 207.5px;
        margin-left: -207.5px;
    }

    .container h2 {
        margin: 0;
    }
}
