<div class="weather">
    <div>{{ weather }}</div>
    <img
        *ngIf="weather === 'Blizzards'"
        src="assets/images/weather/blizzard.png"
        alt="Icon representing a blizzard">
    <img
        *ngIf="weather === 'Flurries'"
        src="assets/images/weather/flurry.png"
        alt="Icon representing a flurry">
    <img
        *ngIf="weather === 'Hail'"
        src="assets/images/weather/hail.png"
        alt="Icon representing rail">
    <img
        *ngIf="weather === 'Thunderstorms'"
        src="assets/images/weather/thunder.png"
        alt="Icon representing a thunderstorm">
    <img
        *ngIf="weather === 'Rainy'"
        src="assets/images/weather/rainy.png"
        alt="Icon representing rain">
    <img
        *ngIf="weather === 'Foggy'"
        src="assets/images/weather/foggy.png"
        alt="Icon representing fog">
    <img
        *ngIf="weather === 'Windy'"
        src="assets/images/weather/windy.png"
        alt="Icon representing wind">
    <img
        *ngIf="weather === 'Partly Cloudy'"
        src="assets/images/weather/cloudy.png"
        alt="Icon representing clouds with sun">
    <img
        *ngIf="weather === 'Sunny'"
        src="assets/images/weather/sunny.png"
        alt="Icon representing a sun">
</div>

<div class="temp">
    <span>High: {{ highTemp }}</span>
    <span>Low: {{ lowTemp }}</span>
</div>
