@import "src/styles.scss";

.weather {
    font-size: $s-font;
    padding: $small;
    background-image: linear-gradient($yellow, white);

    img {
        padding-top: $small;
        width: 100px;
    }
}

.temp {
    display: flex;
    justify-content: space-evenly;
    font-size: $s-font;
    background-image: linear-gradient(to right, $red, white, $blue);

    span::after {
        content: '°F';
    }
}
