@import "src/styles.scss";

form {
    display: grid;
    gap: 15px;

    label {
        font-weight: bold;
        font-size: $s-font;
    }

    input {
        box-sizing: border-box;
        width: 100%;
    }

    .invalid {
        color: $grey;
        font-size: 12px;

        &::before {
            content: '*';
            color: $red;
        }
    }

    #button {
        font-weight: bold;
        border: 1px solid black;
        margin-top: 5px;

        &:hover {
            cursor: pointer;
            background-color: $yellow;
        }
    }
}
