<div [formGroup]="form">
    <label for="country">Country:</label><br>
    <select #country id="country" formControlName="country" (change)="onSelect(country.value)">
        <option value="A1">AF - Afghanistan</option>
        <option value="A2">AL - Albania</option>
        <option value="A3">DZ - Algeria</option>
        <option value="A4">AO - Angola</option>
        <option value="A5">AR - Argentina</option>
        <option value="A6">AM - Armenia</option>
        <option value="A7">AU - Australia</option>
        <option value="A8">AT - Austria</option>
        <option value="A9">AZ - Azerbaijan</option>
        <option value="B1">BS - Bahamas</option>
        <option value="B2">BD - Bangladesh</option>
        <option value="B3">BY - Belarus</option>
        <option value="B4">BE - Belgium</option>
        <option value="B5">BZ - Belize</option>
        <option value="B6">BJ - Benin</option>
        <option value="B7">BO - Bolivia</option>
        <option value="B8">BA - Bosnia & Herzegovina</option>
        <option value="B9">BW - Botswana</option>
        <option value="B10">BR - Brazil</option>
        <option value="B11">BG - Bulgaria</option>
        <option value="B12">BF - Burkina Faso</option>
        <option value="C1">KH - Cambodia</option>
        <option value="C2">CA - Canada</option>
        <option value="C3">TD - Chad</option>
        <option value="C4">CL - Chile</option>
        <option value="C5">CN - China</option>
        <option value="C6">CO - Columbia</option>
        <option value="C7">CR - Costa Rica</option>
        <option value="C8">HR - Croatia</option>
        <option value="C9">CU - Cuba</option>
        <option value="C10">CZ - Czech Republic</option>
        <option value="D1">DK - Denmark</option>
        <option value="D2">DO - Dominican Republic</option>
        <option value="E1">EC - Ecuador</option>
        <option value="E2">EG - Egypt</option>
        <option value="E3">SV - El Salvador</option>
        <option value="E4">ER - Eritrea</option>
        <option value="E5">EE - Estonia</option>
        <option value="E6">ET - Ethiopia</option>
        <option value="F1">FI - Finland</option>
        <option value="F2">FR - France</option>
        <option value="G1">GA - Gabon</option>
        <option value="G2">GE - Georgia</option>
        <option value="G3">DE - Germany</option>
        <option value="G4">GH - Ghana</option>
        <option value="G5">GR - Greece</option>
        <option value="G6">GL - Greenland</option>
        <option value="G7">GT - Guatemala</option>
        <option value="G8">GY - Guyana</option>
        <option value="H1">HT - Haiti</option>
        <option value="H2">HN - Honduras</option>
        <option value="H3">HU - Hungary</option>
        <option value="I1">IS - Iceland</option>
        <option value="I2">IN - India</option>
        <option value="I3">ID - Indonesia</option>
        <option value="I4">IR - Iran</option>
        <option value="I5">IQ - Iraq</option>
        <option value="I6">IE - Ireland</option>
        <option value="I7">IT - Italy</option>
        <option value="J1">JM - Jamaica</option>
        <option value="J2">JP - Japan</option>
        <option value="J3">JO - Jordan</option>
        <option value="K1">KZ - Kazakhstan</option>
        <option value="K2">KE - Kenya</option>
        <option value="K3">KP - Korea (North)</option>
        <option value="K4">KR - Korea (South)</option>
        <option value="K5">KG - Kyrgyzstan</option>
        <option value="L1">LV - Latvia</option>
        <option value="L2">LR - Liberia</option>
        <option value="L3">LY - Libya</option>
        <option value="L4">LT - Lithuania</option>
        <option value="M1">MG - Madagascar</option>
        <option value="M2">MW - Malawi</option>
        <option value="M3">MY - Malaysia</option>
        <option value="M4">ML - Mali</option>
        <option value="M5">MR - Mauritania</option>
        <option value="M6">MX - Mexico</option>
        <option value="M7">MD - Moldova</option>
        <option value="M8">MN - Mongolia</option>
        <option value="M9">ME - Montenegro</option>
        <option value="M10">MA - Morocco</option>
        <option value="M11">MZ - Mozambique</option>
        <option value="M12">MM - Myanmar</option>
        <option value="N1">NA - Namibia</option>
        <option value="N2">NP - Nepal</option>
        <option value="N3">NL - Netherlands</option>
        <option value="N4">NI - Nicaragua</option>
        <option value="N5">NE - Niger</option>
        <option value="N6">NO - Norway</option>
        <option value="O1">OM - Oman</option>
        <option value="P1">PK - Pakistan</option>
        <option value="P2">PA - Panama</option>
        <option value="P3">PY - Paraguay</option>
        <option value="P4">PE - Peru</option>
        <option value="P5">PH - Phillippines</option>
        <option value="P6">PL - Poland</option>
        <option value="P7">PT - Portugal</option>
        <option value="R1">RO - Romania</option>
        <option value="R2">RU - Russia</option>
        <option value="S1">SA - Saudi Arabia</option>
        <option value="S2">RS - Serbia</option>
        <option value="S3">SL - Sierra Leone</option>
        <option value="S4">SK - Slovakia</option>
        <option value="S5">SI - Slovenia</option>
        <option value="S6">SO - Somalia</option>
        <option value="S7">ZA - South Africa</option>
        <option value="S8">SS - South Sudan</option>
        <option value="S9">ES - Spain</option>
        <option value="S10">LK - Sri Lanka</option>
        <option value="S11">SD - Sudan</option>
        <option value="S12">SR - Suriname</option>
        <option value="S13">SE - Sweden</option>
        <option value="S14">CH - Switzerland</option>
        <option value="S15">SY - Syria</option>
        <option value="T1">TJ - Tajikistan</option>
        <option value="T2">TZ - Tanzania</option>
        <option value="T3">TH - Thailand</option>
        <option value="T4">TG - Togo</option>
        <option value="T5">TN - Tunisia</option>
        <option value="T6">TR - Turkey</option>
        <option value="T7">TM - Turkmenistan</option>
        <option value="U1">UG - Uganda</option>
        <option value="U2">UA - Ukraine</option>
        <option value="U3">GB - United Kingdom</option>
        <option value="U4" id="US">US - United States</option>
        <option value="U5">UY - Uruguay</option>
        <option value="U6">UZ - Uzbekistan</option>
        <option value="V1">VE - Venezuela</option>
        <option value="V2">VN - Vietnam</option>
        <option value="W1">EH - Western Sahara</option>
        <option value="Y1">YE - Yemen</option>
        <option value="Z1">ZM - Zambia</option>
        <option value="Z2">ZW - Zimbabwe</option>
    </select>
</div>
