@import "src/styles.scss";

dl {
    margin: 0;

    dd:nth-of-type(2) {
        margin: 0;
    }
    
    .colors div {
        text-align: center;
        padding: $x-small;
    }
}

.bullets {
    margin-left: $x-large;

    &::before {
        content: '* ';
        font-weight: bold;
        color: $purple;
    }
}

#details {
    border: 3px dotted black;
    border-top: none;
    padding: $small;
}

#note {
    margin: 0 auto;

    &::before {
        content: 'Note: ';
        font-weight: bold;
        color: $purple;
    }
}
