@import "src/styles.scss";

* {
    text-align: center;
}

img {
    position: absolute;
    margin: 20px;
    z-index: 1;
    right: 0;
    top: 0;
    width: 100px;
    height: 100px;
}

h1 {
    margin: 65px auto 15px;
    font-size: $l-font;
    color: $primary-3;
    width: 207.99px;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-weight: bold;
    font-size: 16px;
    padding: 0;
}

dialog {
    border: 10px groove black;
    background-color: $secondary-1;

    &::-webkit-scrollbar {
        width: 10px;
        border-radius: 5px;
        border: 1px solid;
    }

    &::-webkit-scrollbar-track {
        border-radius: 5px;
        -webkit-box-shadow: inset 0 0 10px $primary-2;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        -webkit-box-shadow: inset 0 0 10px $primary-3;
    }

    figure {
        position: absolute;
        margin: 0;

        img {
            left: 0;
            margin: 0;
            width: 50px;
            height: 50px;
        }

        figcaption {
            position: absolute;
            text-align: left;
            width: 160px;
            left: 60px;
        }
    }


    h2 {
        color: $primary-3;
        font-size: $m-font;
        margin-top: 50px;
    }

    button {
        position: fixed;
        font-size: $l-font;
        color: $primary-3;
        top: 15px;
        right: 40px;
    }

    ol {
        display: grid;
        gap: 20px;

        li {
            text-align: left;

            span {
                font-weight: bold;
                color: $primary-3;
            }
        }
    }
}


@media (min-width: $l-mobile) {
    img {
        width: 130px;
        height: 130px;
    }
}

@media (min-width: $s-tablet) {
    img {
        height: 115px;
        width: 115px;
    }

    h1 {
        width: 100%;
    }

    dialog h2 {
        margin: 20px;
    }
}

@media (min-width: $l-tablet) {
    img {
        width: 190px;
        height: 190px;
    }
}
