<h3>Thank you for trying out my weather app!</h3>

<p id="note">
    This was coded from the ground up, starting with a blank white screen. This is a 100% frontend project as this does
    not connect to any backend. All forecasts are randomized, data grouped by season (summer, spring, fall, winter).
</p>

<div id="content">
    <h4>App Components</h4>
    <button id="toggle" (click)="toggleAll()">+/-</button>

    <button [ngClass]="expandedInfo ? 'collapse' : 'expand'" (click)="toggleSection('info')">Info Modal</button>
    <div *ngIf="expandedInfo" class="details">
        <app-section-info></app-section-info>
    </div>

    <button [ngClass]="expandedForm ? 'collapse' : 'expand'" (click)="toggleSection('form')">Form</button>
    <div *ngIf="expandedForm" id="section-form" class="details">
        <app-section-form [content]="'main'"></app-section-form>

        <div>
            <button [ngClass]="expandedStates ? 'collapse' : 'expand'" (click)="toggleSection('states')">States</button>
            <div *ngIf="expandedStates">
                <app-section-form [content]="'states'"></app-section-form>
            </div>

            <button [ngClass]="expandedCountries ? 'collapse' : 'expand'" (click)="toggleSection('countries')">Countries</button>
            <div *ngIf="expandedCountries">
                <app-section-form [content]="'countries'"></app-section-form>
            </div>
        </div>
    </div>

    <button [ngClass]="expandedForecast ? 'collapse' : 'expand'" (click)="toggleSection('forecast')">Forecast</button>
    <div *ngIf="expandedForecast" class="details">
        <app-section-forecast></app-section-forecast>
    </div>
    
    <button [ngClass]="expandedWeather ? 'collapse' : 'expand'" (click)="toggleSection('weather')">Temp-Weather</button>
    <div *ngIf="expandedWeather" class="details">
        <app-section-season [main]="true"></app-section-season>

        <div id="seasons">
            <div class="season">
                <button [ngClass]="expandedWinter ? 'collapse' : 'expand'" (click)="toggleSection('winter')">Winter</button>
                <div *ngIf="expandedWinter">
                    <app-section-season
                        [colors]="'winter'"
                        [highTemps]="[0, 33]"
                        [weather]="['Blizzards', 'Flurries', 'Hail']"
                    ></app-section-season>
                </div>
            </div>
    
            <div class="season">
                <button [ngClass]="expandedFall ? 'collapse' : 'expand'" (click)="toggleSection('fall')">Fall</button>
                <div *ngIf="expandedFall">
                    <app-section-season
                        [colors]="'fall'"
                        [highTemps]="[33, 66]"
                        [weather]="['Thunderstorms', 'Rainy', 'Foggy']"
                    ></app-section-season>
                </div>
            </div>
    
            <div class="season">
                <button [ngClass]="expandedSpring ? 'collapse' : 'expand'" (click)="toggleSection('spring')">Spring</button>
                <div *ngIf="expandedSpring">
                    <app-section-season
                        [colors]="'spring'"
                        [highTemps]="[33, 66]"
                        [weather]="['Thunderstorms', 'Rainy', 'Foggy']"
                    ></app-section-season>
                </div>
            </div>
    
            <div class="season">
                <button [ngClass]="expandedSummer ? 'collapse' : 'expand'" (click)="toggleSection('summer')">Summer</button>
                <div *ngIf="expandedSummer">
                    <app-section-season
                        [colors]="'summer'"
                        [highTemps]="[66, 99]"
                        [weather]="['Windy', 'Partly Cloudy', 'Sunny']"
                    ></app-section-season>
                </div>
            </div>
        </div>
    </div>
</div>
