@import "src/styles.scss";

p, div {
    font-size: $s-font;
}

h3, h4, h5 {
    text-align: center;
    font-size: $s-font;
    color: $purple;
    margin: 0;
}

button {
    cursor: pointer;
    font-weight: bold;
    font-size: $s-font;
    margin-top: $small;
    background-color: rgb($purple, 75%);
    width: 100%;

    &:hover {
        background-color: $purple;
    }
    
    &::after {
        position: absolute;
        right: $large;
        font-size: $m-font;
        line-height: $large;
    }
}

.bullets {
    margin-left: $x-large;

    &::before {
        content: '* ';
        font-weight: bold;
        color: $purple;
    }
}

.collapse::after {
    content: '-';
}

.details {
    border: 1px solid black;
    padding: $small;
}

.expand::after {
    content: '+';
}

#note::before {
    content: 'Note: ';
    font-weight: bold;
    color: $purple;
}

#content {
    position: relative;
    border-top: $x-small dotted black;
    margin-top: $large;

    #toggle {
        background-color: transparent;
        border: none;
        width: auto;
        margin: 0;
        position: absolute;
        top: 0;
        right: 0;

        &:hover {
            text-decoration: underline;
        }
    }
}

@media (min-width: ($l-mobile + 50px)) {
    #section-form {
        display: grid;
        gap: $small;
        grid-template-columns: repeat(2, 1fr);

        button:first-child {
            margin-top: 0;
        }
    }

    #seasons {
        display: flex;
        flex-wrap: wrap;
        gap: 0 $small;

        .season {
            position: relative;
            flex: 1 1 200px;
        }
    }
}
