<div id="main">
    <h1>Welcome to My Code Portfolio!</h1>

    <p>
        Everything on this site was coded from the ground up to showcase my abilities.
        <br><br>I enjoy exploring the endless possibilites of creating visually appealing (gradients, animations, etc.) and interactive (hover, click, etc.) sites.
        <br><br>One thing to note in particular is that I tried to keep this compatible for most screens. I've accounted for widths between 320px - 1366px.

        <br><br>If you're curious about the source code, you can visit my
        <a href="https://github.com/AznChik/aznchik.github.io" target="_blank">github repository</a>
        to gain an understanding of my coding practices / organization.

        <br><br>Now, with all that out of the way, feel free to venture through my
        <button (click)="toggleSamples('open')">sample work</button> & learn <a routerLink="/about-me">about me</a>!
    </p>
</div>

<dialog id="samples-modal">
    <h1>Sample Work</h1>
    <button title='Exit sample work' (click)="toggleSamples('close')">X</button>

    <div id="apps">
        <div>
            <a routerLink="/music-app">Music App</a>
            <p>
                This is my most recent sample work! This app's main purpose is to create an "online shopping experience":
                sorting items, adding / removing cart items, increasing / decreasing cart item quantity, etc.

                <br><br>If you already visited my <a id="about" routerLink="/about-me">about me</a> page,
                you may have concluded I enjoy referencing shows, movies, songs, etc.
                You can expect a lot more of that in this app; you have now officially been warned. Enjoy!
            </p>
        </div>

        <div>
            <a routerLink="/weather-app">Weather App</a>
            <p>
                This is my first complete sample work! This app's main purpose is to display my form capabilities: field validation & error handling.

                <br><br><span>NOTE:</span> The street input is the only field that affects the resulting forecast.
                If it contains a season, the forecast will reflect that season. Otherwise, the forecast will reflect a random season.
                For a full breakdown, select the info button that appears in the upper-left corner of this app.

                <br><br><span>TLDR:</span> Forecasts are randomized since this app serves to highlight my form abilities.
            </p>
        </div>
    </div>
</dialog>
