@import "src/styles.scss";

@media (min-width: $s-mobile) {
    .weather {
        font-size: $s-font;
        padding: $small;
        background-image: linear-gradient($yellow, white);
    }

    .temp {
        display: flex;
        justify-content: space-evenly;
        font-size: $s-font;
        background-image: linear-gradient(to right, $red, white, $blue);

        span::after {
            content: '°F';
        }
    }
}
