<button id="back" title="Restart experience" (click)="refresh()">&lt;</button>
<h1>What Are You Here For?</h1>

<div id="flexbox">
    <button class="option">
        <figure>
            <img src="../../../../../assets/images/stitch-instrument.png" alt="Stitch with Instrument"/>
            <figcaption>Browse Instruments</figcaption>
        </figure>
    </button>
    <button class="option">
        <figure>
            <img src="../../../../../assets/images/l&s-vinyl.png" alt="Lilo & Stitch with Vinyl"/>
            <figcaption>Browse Vinyls</figcaption>
        </figure>
    </button>
</div>
