<div id="samples">
    <div>
        <a routerLink="/escape-game">Escape Game</a>
        <p>
            This is my most recent sample work and first attempt at creating a game!
            <br><br>Where are you? Why are you here? Who captured you? Most importantly, can you escape?
            <br><br>Try to answer these questions and more in this Escape Game!
        </p>
    </div>

    <div>
        <a routerLink="/music-app">Music App</a>
        <p>
            This app's main purpose is to create an "online shopping experience":
            sorting items, adding / removing cart items, increasing / decreasing cart item quantity, etc.

            <br><br>If you already visited my <a id="about" routerLink="/about-me">about me</a> page,
            you may have concluded I enjoy integrating references to my past.
            You can expect a lot more of that in this app; you have now officially been warned. How many can you find?
        </p>
    </div>

    <div>
        <a routerLink="/weather-app">Weather App</a>
        <p>
            This is my first complete sample work! This app's main purpose is to display my form capabilities: field validation & error handling.

            <br><br><span>NOTE:</span> The street input is the only field that affects the resulting forecast.
            If it contains a season, the forecast will reflect that season. Otherwise, the forecast will be randomized.
            For a full breakdown, select the info button that appears in the upper-left corner of this app.
        </p>
    </div>
</div>
