<div [formGroup]="form">
    <label for="state">State:</label><br>
    <select id="state" formControlName="state">
        <option value="NA">N/A</option>
        <option value="A1">AL - Alabama</option>
        <option value="A2">AK - Alaska</option>
        <option value="A3">AZ - Arizona</option>
        <option value="A4">AR - Arkansas</option>
        <option value="C1">CA - California</option>
        <option value="C2">CO - Colorado</option>
        <option value="C3">CT - Connecticut</option>
        <option value="D1">DE - Delaware</option>
        <option value="F1">FL - Florida</option>
        <option value="G1">GA - Georgia</option>
        <option value="H1">HI - Hawaii</option>
        <option value="I1">ID - Idaho</option>
        <option value="I2">IL - Illinois</option>
        <option value="I3">IN - Indiana</option>
        <option value="I4">IA - Iowa</option>
        <option value="K1">KS - Kansas</option>
        <option value="K2">KY - Kentucky</option>
        <option value="L1">LA - Louisiana</option>
        <option value="M1">ME - Maine</option>
        <option value="M2">MD - Maryland</option>
        <option value="M3">MA - Massachusetts</option>
        <option value="M4">MI - Michigan</option>
        <option value="M5">MN - Minnesota</option>
        <option value="M6">MS - Mississippi</option>
        <option value="M7">MO - Missouri</option>
        <option value="M8">MT - Montana</option>
        <option value="N1">NE - Nebraska</option>
        <option value="N2">NV - Nevada</option>
        <option value="N3">NH - New Hampshire</option>
        <option value="N4">NJ - New Jersey</option>
        <option value="N5">NM - New Mexico</option>
        <option value="N6">NY - New York</option>
        <option value="N7">NC - North Carolina</option>
        <option value="N8">ND - North Dakota</option>
        <option value="O1">OH - Ohio</option>
        <option value="O2">OK - Oklahoma</option>
        <option value="O3">OR - Oregon</option>
        <option value="P1">PA - Pennsylvania</option>
        <option value="R1">RI - Rhode Island</option>
        <option value="S1">SC - South Carolina</option>
        <option value="S2">SD - South Dakota</option>
        <option value="T1">TN - Tennessee</option>
        <option value="T2">TX - Texas</option>
        <option value="U1">UT - Utah</option>
        <option value="V1">VT - Vermont</option>
        <option value="V2">VA - Virginia</option>
        <option value="W1">WA - Washington</option>
        <option value="W2">WV - West Virginia</option>
        <option value="W3">WI - Wisconson</option>
        <option value="W4">WY - Wyoming</option>
    </select>
</div>
