@import "src/styles.scss";

.bullets {
    margin-left: 40px;

    &::before {
        content: '* ';
        font-weight: bold;
        color: $purple;
    }
}

.details {
    border: 3px dotted black;
    border-top: none;
    padding: 10px;
}

.note {
    margin: 20px auto 0;

    &::before {
        content: 'Note: ';
        font-weight: bold;
        color: $purple;
    }
}

#bonus {
    margin-top: 20px;

    &::before {
        content: 'Bonus: ';
        font-weight: bold;
        color: $purple;
    }
}
