@import "src/styles.scss";

.bullets {
    margin-left: $x-large;

    &::before {
        content: '* ';
        font-weight: bold;
        color: $purple;
    }
}

.details {
    border: 3px dotted black;
    border-top: none;
    padding: $small;
}

.note {
    margin: $large auto 0;

    &::before {
        content: 'Note: ';
        font-weight: bold;
        color: $purple;
    }
}

#bonus {
    margin-top: $large;

    &::before {
        content: 'Bonus: ';
        font-weight: bold;
        color: $purple;
    }
}
