@import "src/styles.scss";

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

#retry {
    position: fixed;
    background-color: $background;
    border-radius: 10px;
    z-index: 1;

    img {
        padding-top: 5px;
        width: 25px;
        height: 25px;
    }

    &::after {
        content: 'Retry';
        vertical-align: top;
        display: inline-block;
        font-size: $l-font;
        color: $primary-2;
        padding-left: 10px;
    }
}

.expand {
    height: 500px !important;
}

.hurt {
    animation: hurt 1s ease-in-out;
}

.light {
    background: linear-gradient(yellow, black, black, black, black);
}

#game {
    display: block;
    overflow-y: scroll;
    text-align: center;
    background-color: black;
    color: $background;
    box-shadow: 0 0 10px black;
    transition: height 0.5s ease-in;
    border-radius: 200px;
    margin-top: 75px;
    height: 35px;

    &::-webkit-scrollbar {
        width: 10px;
        border-radius: 5px;
        border: 1px solid black;
    }

    &::-webkit-scrollbar-track {
        border-radius: 5px;
        -webkit-box-shadow: inset 0 0 10px $primary-2;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        -webkit-box-shadow: inset 0 0 10px $secondary-2;
    }
}

#memory {
    position: fixed;
    margin-bottom: 20px;
    bottom: 0;
}

.emphasize {
    animation: emphasize 1s ease-in-out;
}

#health {
    position: fixed;
    margin: 20px;
    bottom: 0;
    right: 0;

    p {
        position: absolute;
        font-weight: bold;
        color: $background;
        margin: 0;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    img {
        width: 100px;
    }
}

@keyframes emphasize {
    0% { transform: scale(1, 1) }
    50% { transform: scale(1.5, 1.5) }
    100% { transform: scale(1, 1) }
}

@keyframes hurt {
    0% { box-shadow: 0 0 10px black; }
    50% { box-shadow: 0 0 20px red; }
    100% { box-shadow: 0 0 10px black; }
}
