<button *ngIf="!gameVars.gameStart" id="start" (click)="gameEvent.emit(['start'])">Open Eyes</button>

<div *ngIf="gameVars.gameStart" id="story">
    <img *ngIf="gameVars.dead" id="dead" src="../../../../../assets/images/escape/dead.png" alt="you died"/>
    <p id="text">{{ gameVars.story.text }}</p>

    <div id="options">
        <div *ngFor="let option of gameVars.story.options">
            <button
                (click)="continueStory(gameVars.story.id, gameVars.story.options.indexOf(option), option)"
            >{{ option }}</button>
        </div>
    </div>
</div>
