<div id="scene">
    <img
    alt="Scene about me"
    src="assets/images/about/about-me.png"
    >
    <button id="computer" (click)="toggleClue('computer')"></button>
    <button id="origami" (click)="toggleClue('origami')"></button>
    <button id="math" (click)="toggleClue('math')"></button>
    <button id="stitch" (click)="toggleClue('stitch')"></button>
    <button id="drawing" (click)="toggleClue('drawing')"></button>
    <button id="tv" (click)="toggleClue('tv')"></button>
    <button id="physical-games" (click)="toggleClue('physical games')"></button>
    <button id="virtual-games" (click)="toggleClue('virtual games')"></button>
    <button id="music" (click)="toggleClue('music')"></button>
    <button id="karate" (click)="toggleClue('karate')"></button>
    <button id="easter-egg" (click)="toggleClue('easter egg')"></button>
</div>

<dialog id="clue-modal">
    <div id="clue" *ngIf="!easterEgg">
        <img
            alt="Blue's paw print"
            src="assets/images/about/clue-found.png"
        >
        <button (click)="toggleClue()"></button>
        <p id="number">{{ clueNumber }} / 10</p>
        <p id="text">{{ clueText }}</p>
    </div>

    <div id="bonus" *ngIf="easterEgg">
        <h2>Congrats on finding<br>my (cringy) easter egg!</h2>
        <button (click)="toggleClue()">X</button>
        <p>
            Compassionate... analytical... & creative... These were the traits chosen to create the perfect little girl
            <br><br>But life accidentally added an extra ingredient to the concoction -- perfectionism
            <br><br>Thus, Libby Maslanka was born!
            <br><br>Using her heart & mind
            <br><br>Me... myself... and I...
            <br><br>Have dedicated my life to the golden rule
            <br><br>And strive for perfect results!
        </p>
    </div>
</dialog>
